{% extends 'MiApp/index2.html' %}

{% load static %}

{% block contenidoquecambia %}
    <h1> Jugadores</h1>
    <h2> Listado actualizado</h2>
    <p> Los jugadores de la semana son:</p>
    {% for jugadores in jugadores %}
    
        <p>El jugador {{jugadores.nombre}} {{jugadores.apellido}}, tiene {{jugadores.edad}} y su nacionalidad es {{jugadores.nacionalidad}}</p>
    
    {% endfor %}
    <h3> Autor: Ilan Pinto</h3>
    <h3> Fecha: 27/11/2022</h3>
    <p class="more"><a href="{% url 'Nomoreinfo' %}" class="diamond">Leer mas</a></p>
{% endblock %}